$primary-text: #E2E8F0;
$secondary-text: #8197BD;
$accent-color: #5ECED4;
$accent-background: #193757;
$main-background: #0F172B;
$photo-background: #152D49;

body[data-theme="dark"] {

   @import './src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #8C8C8C;
   }

   .title-styles {
      color: $secondary-text;
   }

   .header-icon {
      color: $secondary-text;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: $accent-background;
      color: $accent-color;
   }

   header {
      background-color: $main-background;
      h1 {
         color: white;
      }
   }

   #home {
    .container {
      // // margin-bottom: 5em;
      //         -webkit-box-shadow: 0 4px 6px $accent-color;
      //           -moz-box-shadow: 0 4px 6px $accent-color;
      //           box-shadow: 0 4px 6px $accent-color;
    }
   }

   #about {
      background-color: $main-background;
      h1 span {
        color: $primary-text;
      }
      .polaroid span {
        background: $photo-background;
        border-color: $accent-color;
        border-width: 5em;
        -webkit-box-shadow: 0 4px 6px $accent-color;
        -moz-box-shadow: 0 4px 6px $accent-color;
        box-shadow: 0 4px 6px $accent-color;
      }
      .card {
        background: $main-background;
        border-color: $accent-color;
        color: white;
      }      
      .card-header {
        border-color: $accent-color;
      }
   }

   #portfolio {
      background: $main-background;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: $photo-background;
                -webkit-box-shadow: 0 4px 6px $accent-color;
                  -moz-box-shadow: 0 4px 6px $accent-color;
                  box-shadow: 0 4px 6px $accent-color;
      }
      .project-title-settings {
         color: white;
      }
   }

    #skills {
      background: $main-background;
      min-height: 200px;
      width: 100%;
      overflow: hidden;
      padding-bottom: 10%;
    }

    .section-title {
      padding-top: 5%;
      padding-bottom: 5%;
      font: 18px/24px 'opensans-bold', sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: #fff;
      text-align: center;
    }

    .skill-icon {
      font-size: 180%;
      color: white;
      text-align: center;
      position: relative;
    }

    .skills-tile {
      color: $accent-color;
      background-color: #193757;
    }

   #resume {
      // filter: brightness(80%);
      background: $main-background;
      .section-title {
         color: white !important;
      }

      .experience-badge {
        background: #193757 !important;
        color: $accent-color;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      .main-badge {
         background: #919191 !important;
      }

      .vertical-timeline-element-title {
        color: $primary-text;
      }

      .vertical-timeline-element-content {
        background-color: $main-background;
        color: $secondary-text;
        ::after {
          background-color: $main-background;
        }
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
        background: $photo-background !important;
      }
      .devicon-ruby-plain, .experience-icon{
        color: $accent-color;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #5b5b5b;
      color: white;
   }

   .close-icon {
      color: white;
   }

   footer {
    background-color: lighten($main-background, 5%);
    
   }
}