$primary-text: #E2E8F0;
$secondary-text: #8197BD;
$accent-color: #3A9688;
$first-background:#8C8C8C;
$second-background: #0F172B;
$accent-background: #152D49;

body[data-theme="dark"] {

   @import './src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #8C8C8C;
   }

   .title-styles {
      color: $secondary-text;
   }

   .header-icon {
      color: $secondary-text;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }

   header {
      background-color: $second-background;
      h1 {
         color: white;
      }
   }

   #about {
      background-color: #0F172B;
      h1 span {
        color: $accent-color;
      }
      .polaroid span {
        background: $second-background;
        border-color: $accent-color;
        border-width: 5em;
        -webkit-box-shadow: 0 4px 6px $accent-color;;
        -moz-box-shadow: 0 4px 6px $accent-color;;
        box-shadow: 0 4px 6px $accent-color;;
      }
      .card {
        background: $second-background;
        border-color: $accent-color;
        color: white;
      }      
      .card-header {
        border-color: $accent-color;
      }
   }

   #portfolio {
      background: #000000;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #152D49;
      }
      .project-title-settings {
         color: white;
      }
   }

    #skills {
      background: #0F172B;
      min-height: 200px;
      width: 100%;
      overflow: hidden;
      padding-bottom: 10%;
    }

    .section-title {
      padding-top: 5%;
      padding-bottom: 5%;
      font: 18px/24px 'opensans-bold', sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: #fff;
      text-align: center;
    }

    .skill-icon {
      font-size: 180%;
      color: white;
      text-align: center;
      position: relative;
    }

   #resume {
      filter: brightness(80%);
      background: #000000;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #919191 !important;
         color: white;
      }

      .main-badge {
         background: #919191 !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #919191 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #5b5b5b;
      color: white;
   }

   .close-icon {
      color: white;
   }
}